data_in/10K intros/
data_out/snp_price_csv_files/
data_out/russell_price_csv_files/
data_out/snp_desc_10K.pkl
data_out/russell_desc_10K.pkl
data_out/ticker_price_df.csv


scrapy_spiders/data_out/
scrapy_spiders/yahoo_spiders/__pycache__/
scrapy_spiders/yahoo_spiders/spiders/__pycache__/
chromedriver.exe
.ipynb_checkpoints/
extras/
debug.log