# Data

data_in/10K intros/
data_out/snp_desc_10K.pkl
data_out/russell_desc_10K2020.pkl
data_out/russell_desc_10K2015.pkl
data_out/russell_desc_wiki_df.csv

data_out/snp_price_csv_files/
data_out/russell_price_csv_files/


## Results
data_out/all_clusters/
data_out/results/
data_out/images/*
!data_out/images/r2_best-r2-scores-for-different-data-sources-and-number-of-topics-\[russell\]_0.png
!data_out/images/rv_percentage-difference-of-ratio-variation-scores-of-each-ratio-relative-to-gics-score-\[russell\]_0.png
!data_out/images/r2_best-r2-scores-for-different-data-sources-and-number-of-topics-\[snp\]_0.png
!data_out/images/rv_percentage-difference-of-ratio-variation-scores-of-each-ratio-relative-to-gics-score-\[snp\]_0.png
!data_out/images/r2_best-r2-scores-for-different-data-sources-and-number-of-topics-\[russell2\]_0.png
!data_out/images/rv_percentage-difference-of-ratio-variation-scores-of-each-ratio-relative-to-gics-score-\[russell2\]_0.png
!data_out/images/r2_best-r2-scores-for-different-data-sources-and-number-of-topics-\[russell\]_2.png
!data_out/images/r2_best-r2-scores-for-different-data-sources-and-number-of-topics-\[russell\]_1.png
!data_out/images/r2_best-r2-scores-for-different-topic-model-and-clustering-method-combinations-[russell-10k2020\-results\]_0.png
!data_out/images/sp_similarity-probability-of-clustering-with-different-topic-models-to-gics-classification-\[russell\]_0.png
!data_out/images/sp_by-industry.png

# Spiders 

scrapy_spiders/data_out/
scrapy_spiders/yahoo_spiders/__pycache__/
scrapy_spiders/yahoo_spiders/spiders/__pycache__/

# Others

chromedriver.exe
.ipynb_checkpoints/
extras/
debug.log
GICSenv/